# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# ðŸ“š Basic Libraries
import pandas as pd
import numpy as np

# ðŸ“Š Visualizations
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

# ðŸ¤– Machine Learning
from sklearn.datasets import load_diabetes
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
data = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
data

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990749, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06833155, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286131, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04688253,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452873, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00422151,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
print(data.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

1. We receive 10 attributes of this dictionary. They are characteristics of human body, mostly blood characteristics
2. It seems the different possible variables that affect to the progresion of diabetes in human bodies. 
3. We have 442 observations

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [5]:
X = data.data
y = data.target

print(f'Shape of data: {X.shape}')
print(f'Shape of y data: {y.shape}')

Shape of data: (442, 10)
Shape of y data: (442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = Î²0 + Î²1X1 + Î²2X2 + ... + Î²nXn + Ïµ
```

...where:

- X1-Xn: data 
- Î²0: intercept 
- Î²1-Î²n: coefficients 
- Ïµ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [6]:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [7]:
diabetes_data_train = X[:-20] 
diabetes_data_test = X[-20:]

diabetes_target_train = y[:-20]
diabetes_target_test = y[-20:]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [8]:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)
print("Intercept:", diabetes_model.intercept_)
print("Coefficients:", diabetes_model.coef_)

Intercept: 152.76429169049118
Coefficients: [ 3.06094248e-01 -2.37635570e+02  5.10538048e+02  3.27729878e+02
 -8.14111926e+02  4.92799595e+02  1.02841240e+02  1.84603496e+02
  7.43509388e+02  7.60966464e+01]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [9]:
predictions = diabetes_model.predict(diabetes_data_train)
predictions

array([206.75891684,  68.43928832, 178.202843  , 166.58687681,
       129.47568331, 105.48474005,  74.89749756, 120.73116457,
       159.81889474, 211.92889324,  97.83287755,  97.40982506,
       115.6082563 , 164.92321504, 103.34354044, 177.68446716,
       210.74959409, 184.39724335, 148.54433438, 123.5598679 ,
       120.97659491,  86.40941954, 113.06614789, 252.36133291,
       165.02520753, 147.87720453,  97.36705872, 179.12372841,
       129.58348133, 185.3877115 , 158.11938271,  69.55013471,
       263.37028604, 113.46478465,  79.56686951,  87.7219928 ,
       207.0386214 , 157.45867774, 240.6599475 , 137.14804961,
       155.31515392,  74.42603417, 146.31283302,  78.52883954,
       222.11894941, 126.59547192, 141.84309866, 109.45038405,
        75.09520047, 190.42078462, 159.23651503, 171.06320351,
       134.14506521, 159.31399389, 138.94610068,  73.39466233,
       207.21316516,  80.45820611, 103.8913562 , 135.51924488,
       113.75820247, 181.56924301,  61.77550864,  98.88445641,
       115.70709334, 191.02351644, 150.90972973, 125.93282205,
       116.5465321 , 124.03111306,  75.54889025, 237.48396757,
       141.50310565, 125.78982102, 151.92455496, 128.95970125,
       192.53757362,  77.3878711 , 167.09795129,  91.3087521 ,
       175.17146583, 124.29286699,  63.18426558, 151.7873017 ,
        53.60271409, 165.98945027,  44.47132194, 152.23401239,
        81.62592402, 107.27818067,  80.87146097, 187.27761366,
       192.57498824,  60.72675857, 106.40601719, 125.49801453,
       208.99592265, 214.5949839 , 123.54730599, 139.99658323,
       167.80157835, 108.58681984, 149.33228919, 159.1957588 ,
       152.35240311, 117.92916773,  73.0444884 , 157.21420545,
       231.29067459, 146.68937137,  40.80233155, 121.73502534,
       152.54928114, 209.59486792, 289.90809583, 189.05149519,
       215.2848669 , 237.32413468, 166.37036118, 151.90386088,
       157.19434202, 201.84411255, 220.58427184, 176.89163853,
       169.39910589, 187.68781736,  57.68724879, 107.99127366,
        92.60138959, 212.23847246, 245.41311417,  69.47920662,
       114.41344235,  69.79626978, 140.31454444, 239.90621248,
        58.60718937, 235.7185904 , 255.74265806, 253.11911161,
       157.63053406, 231.98092868, 170.76818127, 117.61362048,
       179.9364036 , 238.81033644, 190.57708058, 228.01461197,
       114.36633583, 178.23212544, 209.816896  , 144.9798897 ,
       202.60248519, 123.80963838, 151.63885713, 198.9712057 ,
       146.59004705, 125.2710549 ,  86.03142242, 234.82087165,
        82.84073367, 231.27814237, 144.36636018, 198.4826078 ,
       147.06430282,  77.98781275,  60.16618318, 263.50736632,
       226.24114628, 219.16092851,  48.11875322,  88.9049814 ,
       222.1078913 ,  97.92355361, 165.31603351, 121.62612794,
       159.11393098, 223.77155352, 100.21594308, 166.44562342,
       180.27921379,  90.6103342 , 173.45403527, 160.5050451 ,
       201.9174193 , 186.05689074, 196.96586684,  66.47941004,
       154.88543418, 117.37444073, 197.02174069, 128.99300488,
        92.25583083, 141.37607017, 155.91826084, 171.07900767,
        99.62901964, 192.35871754, 142.33391484, 176.87766057,
        97.11621715,  70.4185368 , 163.92683992, 199.22432918,
       181.48427314, 227.29661202, 161.40835782, 211.79494872,
       224.66501142, 175.33186269, 124.96580698, 175.91293462,
       153.11372252,  99.72019376, 100.00252349, 263.53384331,
       225.48882211, 222.37977265, 134.55902131, 145.08010503,
        54.84839665, 142.09441666, 154.80104004, 124.46801681,
        78.07538512, 231.03335812,  78.67226575, 106.97361635,
       117.81662234,  99.52915998, 165.91697792, 160.30385524,
       159.59014296, 143.40011783, 231.71794485, 179.60107623,
       187.56242982,  67.06565578, 192.84312406, 179.08231688,
       235.94778292, 121.08770313,  85.94000154, 102.65125638,
       140.31849978, 101.66339555, 119.96853538,  82.16118714,
       234.31185714, 244.33539308, 263.53467136, 274.30129297,
       180.91332141, 204.45622508, 254.03198267, 119.29055455,
       267.19908183, 105.08497393, 119.45847396, 142.51045224,
        58.80883233, 130.38916288, 263.39670153,  46.17173188,
       125.02091773, 131.70347308,  35.64695753, 139.17185757,
       246.10137598,  89.17528758, 192.71790859, 166.23652734,
       147.79580533, 192.59617288, 177.56216268, 159.8636519 ,
       188.01679788, 117.08132855, 113.83287342, 118.61925054,
       166.10880363,  98.1041567 , 141.14883878,  85.31367162,
       161.52249662, 203.30004666,  79.99034364, 146.9165271 ,
        81.14211612, 190.03671736, 221.95388902, 203.46777025,
        93.35019112, 178.78800802,  83.91234885, 152.06921475,
        78.3451677 ,  98.41386688, 108.56448188, 125.62688558,
       217.90573187, 127.53634214, 207.05338232, 230.19585782,
       124.47619912, 136.71646485, 127.6316722 , 150.98321458,
        88.59313757, 139.49098035, 204.52811063, 173.83449674,
       122.92460001, 214.36303944, 174.70737008, 110.22680631,
       198.73755622, 174.8415726 , 163.61492401, 193.79720859,
       191.4673931 , 285.50989156, 279.47446987, 216.51502801,
       210.8497545 , 215.63524773, 158.55585358, 224.23347464,
       188.77753397, 105.0715179 , 180.78701867, 114.50089253,
       291.21625391, 184.36070901,  80.17894039,  86.90874037,
       248.78025269, 176.34626864, 122.14777228, 146.07364943,
       171.50298622, 184.6621126 , 165.42790091, 157.82338388,
       143.70432684, 127.03471085, 177.63121865, 105.51874697,
       132.73533554,  97.52759988, 250.18269776,  86.81268413,
        62.41359294, 154.46154407, 191.68671382, 134.74647067,
        94.28323851, 201.16043776,  53.73922127, 176.76699996,
       197.79702906, 119.63500229, 236.1139451 , 166.17802872,
       162.36978463, 164.02016077, 252.92815819, 256.4574902 ,
       197.70516724, 184.82432271,  59.21042672, 193.6665473 ,
       111.23606134, 142.60854748, 127.65084636, 181.28613341,
       210.83659292, 170.71820604, 165.17270208, 137.74207642,
       175.68483552,  75.3505087 , 245.44229479, 115.33301648,
       111.81491503, 141.55840209, 111.02681946,  91.95687167,
       164.19954867,  74.89777497, 253.68394413,  54.68755824,
       100.04704423, 100.83061779, 257.81113031, 169.57165755,
        62.70692548, 183.11745728, 170.35009842, 190.15298506,
       187.19935079,  88.17311718, 151.59763138, 250.30722939,
       199.91934921, 284.01124559,  50.53423434, 173.02953424,
       205.73677013, 174.78050337, 157.74393621, 150.47861337,
       234.2620975 , 121.60196476, 165.78874544, 173.4604661 ,
       227.49865621, 149.09559024,  99.58464585,  81.87610422,
       142.76403828, 193.01728791])

#### Print your `diabetes_target_test` and compare with the prediction.

In [70]:
real = pd.DataFrame(diabetes_target_test)
predictions = pd.DataFrame(predictions)
model_compare = pd.concat([real, predictions], axis=1, ignore_index=True)
model_compare.columns = ['diabetes_target_test', 'predictions']
difference = real-predictions
model_compare['difference'] = difference
model_compare

     diabetes_target_test  predictions  difference
0                   233.0   206.758917   26.241083
1                    91.0    68.439288   22.560712
2                   111.0   178.202843  -67.202843
3                   152.0   166.586877  -14.586877
4                   120.0   129.475683   -9.475683
..                    ...          ...         ...
417                   NaN   149.095590         NaN
418                   NaN    99.584646         NaN
419                   NaN    81.876104         NaN
420                   NaN   142.764038         NaN
421                   NaN   193.017288         NaN

[422 rows x 3 columns]

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

No, because the adjustment of the model. The "Difference" column in your dataset represents the discrepancy between the actual values (presumably related to diabetes, as clarified earlier) and the model predictions.

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [12]:
auto = pd.read_csv("auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [13]:
auto.head(3)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [14]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [15]:
auto["car_name"].nunique()
auto["car_name"] = pd.to_numeric(auto["car_name"], errors='coerce')

What is the newest model year and the oldest model year?

In [16]:
newest = auto["model_year"].max()
oldest = auto["model_year"].min()
print(f'The newest model is {newest}')
print(f'The oldest model is {oldest}')

The newest model is 82
The oldest model is 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [17]:
def explore_nan(df):
    nan_values = df.isna().sum()
    empty_spaces = df.eq(' ').sum()
    exploration = pd.DataFrame({"NaN": nan_values, "EmptySpaces": empty_spaces}) # New dataframe with the results
    return exploration

In [18]:
explore_nan(auto)

              NaN  EmptySpaces
mpg             0            0
cylinders       0            0
displacement    0            0
horse_power     6            0
weight          0            0
acceleration    0            0
model_year      0            0
car_name      398            0

In [19]:
auto2 = auto.copy()

In [20]:
auto2 = auto.drop(columns= "car_name")
auto2 = auto2.dropna(subset=['horse_power'])

In [50]:
auto2.isna().sum()

cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
mpg             0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [21]:
auto2['cylinders'].value_counts()

cylinders
4    199
8    103
6     83
3      4
5      3
Name: count, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [22]:
# Define Target
target = auto2.pop("mpg")
auto2.insert(len(auto2.columns), "mpg", target)

In [23]:
X = auto2.drop("mpg", axis = 1)
y = auto2["mpg"]

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
print(f'100% of our data: {len(auto2)}.')
print(f'70% for training data: {len(X_train)}.')
print(f'30% for test data: {len(X_test)}.')

100% of our data: 392.
70% for training data: 274.
30% for test data: 118.

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [26]:
automodel = LinearRegression()
automodel.fit(X_train, y_train)

LinearRegression()

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [51]:
y_pred = automodel.predict(X_train)

In [52]:
r2_3 = r2_score(y_train, y_pred)
RMSE_3 = mean_squared_error(y_train, y_pred, squared=False)
MSE_3 = mean_squared_error(y_train, y_pred)
MAE_3 = mean_absolute_error(y_train, y_pred)
#Printing the results
print("R2 = ", round(r2_3, 4))
print("RMSE = ", round(RMSE_3, 4))
print("The value of the metric MSE is ", round(MSE_3, 4))
print("MAE = ", round(MAE_3, 4))

R2 =  0.806
RMSE =  3.5242
The value of the metric MSE is  12.4201
MAE =  2.7124

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [55]:
y_test_pred = automodel.predict(X_test)

In [56]:
r2_3 = r2_score(y_test, y_test_pred)
RMSE_3 = mean_squared_error(y_test, y_test_pred, squared=False)
MSE_3 = mean_squared_error(y_test, y_test_pred)
MAE_3 = mean_absolute_error(y_test, y_test_pred)
#Printing the results
print("R2 = ", round(r2_3, 4))
print("RMSE = ", round(RMSE_3, 4))
print("The value of the metric MSE is ", round(MSE_3, 4))
print("MAE = ", round(MAE_3, 4))

R2 =  0.8077
RMSE =  3.1899
The value of the metric MSE is  10.1752
MAE =  2.5403

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.806 vs 0.8077). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [57]:
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1, random_state=42)

In [58]:
print(f'100% of our data: {len(auto2)}.')
print(f'90% for training data: {len(X_train09)}.')
print(f'10% for test data: {len(X_test09)}.')

100% of our data: 392.
90% for training data: 352.
10% for test data: 40.

In [59]:
print(f'100% of our data: {len(auto2)}.')
print(f'90% for training target: {len(y_train09)}.')
print(f'10% for test target: {len(y_test09)}.')

100% of our data: 392.
90% for training target: 352.
10% for test target: 40.

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [60]:
automodel09 = LinearRegression()
automodel09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [63]:
y_pred09 = automodel09.predict(X_train09)
y_test_pred09 = automodel09.predict(X_test09)

In [64]:
r2_3 = r2_score(y_train09, y_pred09)
RMSE_3 = mean_squared_error(y_train09, y_pred09, squared=False)
MSE_3 = mean_squared_error(y_train09, y_pred09)
MAE_3 = mean_absolute_error(y_train09, y_pred09)
#Printing the results
print("R2 = ", round(r2_3, 4))
print("RMSE = ", round(RMSE_3, 4))
print("The value of the metric MSE is ", round(MSE_3, 4))
print("MAE = ", round(MAE_3, 4))

R2 =  0.8048
RMSE =  3.448
The value of the metric MSE is  11.8887
MAE =  2.6479

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [65]:
r2_3 = r2_score(y_test09, y_test_pred09)
RMSE_3 = mean_squared_error(y_test09, y_test_pred09, squared=False)
MSE_3 = mean_squared_error(y_test09, y_test_pred09)
MAE_3 = mean_absolute_error(y_test09, y_test_pred09)
#Printing the results
print("R2 = ", round(r2_3, 4))
print("RMSE = ", round(RMSE_3, 4))
print("The value of the metric MSE is ", round(MSE_3, 4))
print("MAE = ", round(MAE_3, 4))

R2 =  0.8469
RMSE =  3.0183
The value of the metric MSE is  9.1101
MAE =  2.3188

<pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;">
</pre>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 50.0000%;">
                <pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;"><strong>Trained model 70/30:</strong></pre>
                <pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;">R2 =  0.806
RMSE =  3.5242
The value of the metric MSE is  12.4201
MAE =  2.7124</pre><br></td>
            <td style="width: 50.0000%;">
                <pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;"><strong>Trained model 90/10:</strong>

R2 =  0.8048
RMSE =  3.448
The value of the metric MSE is  11.8887
MAE =  2.6479</pre><br></td>
        </tr>
        <tr>
            <td style="width: 50.0000%;">
                <pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;"><strong>Tested model 70/30:</strong>

R2 =  0.8077
RMSE =  3.1899
The value of the metric MSE is  10.1752
MAE =  2.5403</pre><br></td>
            <td style="width: 50.0000%;">
                <pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;"><strong>Tested model 90/10:</strong>

R2 =  0.8469
RMSE =  3.0183
The value of the metric MSE is  9.1101
MAE =  2.3188</pre><br></td>
        </tr>
    </tbody>
</table>
<pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;">

</pre>
<pre style="text-align: left;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 14px;border: 0px;">
</pre>

#### Comparing the trained and tested models:

The model tested with the 90/10 ratio has superior performance in terms of R2, RMSE, MSE and MAE compared to the model tested with the 70/30 ratio.
This suggests that the model trained with a 90/10 ratio generalizes better on unseen data compared to the model trained with a 70/30 ratio.
The higher R2 indicates that the model explains more variability in the data.
The lower RMSE, MSE, and MAE indicate that the model has lower prediction errors on average.
In conclusion, the model trained and tested with the 90/10 ratio shows an improvement in performance compared to the model trained and tested with the 70/30 ratio.

# Bonus Challenge - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [66]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [67]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.